

//background color
$bg-color :#F2F5F7;


$font-family: Arial;
//**Font Colors

//normal
$standard-font-black: #343434;

//blue logo color font
$bluefont: #08548E;

$input-field-font-color: #8E8A8A;

//light grey fonts
$light-font-color: #7C7A7A;

//button color
$button-blue: #CBECF4;
$button-green: #64BC74;
$button-red: #E31717;
$button-yellow: #F2DA2A;

//Rounded edges
$border-radius: 10
px;
$input-fields-box-shadow: inset 2px 2px 2px 2px #E3E7E9;



$bg-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
$graph-container-bg-color: lighten($bg-color, 3%);
$border-color: darken($bg-color, 5%);

/* ------ MENU ------ */
// background-image: 
/* ------ SIDE PANEL ------ */

$side-bar-width: 350px;

/* ------ GRAPH ------ */
$light-font-color:rgba(235, 228, 228, 0.932);
$title-font: $font-family;